body{
    background-color:rgb(255, 255, 255);
}

header{
    background-color: rgb(255, 255, 255);
    
}


nav li{
    display: inline;
}

h1 {
    color: #d65d0c;
    font-family: arial, sans-serif;  
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    }

a:link, a:visited {
    background-color: rgb(24, 109, 181);
    color: black;
    border: 1px;
    border-color: aliceblue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
      
a:hover, a:active {
    background-color: rgb(207, 70, 7);
    color: white;
}

#login{
    background-color: black;
    color: white;
    width: 30%;
    border: solid  violet;
    border-style: outset;
}